extends layouts/layout

block content 
    .form-container
        form(action=routes.login, method="post")
            input(type="email", name="email", placeholder="Email", requried=true)
            input(type="password", name="password", placeholder="Password", requried=true)
            input(type="submit", value="Log In")  