extends layouts/layout

block content
    .user-profile
        .user-nickName
            span#nickName Nick Name: #{loggedUser.nickName}
        .user-email
            span#email Email: #{loggedUser.email}
        .edit-profile__btn 
            a(href=routes.editProfile(loggedUser.id)) Edit Profile ✍️