extends layouts/layout
include mixins/videoPlayer

block content 
    +videoPlayer({
        fileUrl: video.fileUrl
    })
    h4.video__title=video.title
    h6.video__description=video.description
    if video.views === 1
        h6.video__views 1 view
    else
        h6.video__views #{video.views} views
    if loggedUser && video.creator._id.toString() === loggedUser.id
        .edit-video__btn
            a(href=routes.videoEdit(video.id)) Edit Video ✍️