@import "config/reset.scss";
@import "main.scss";
@import "components/videoPlayer.scss";

//component
@import "components/header.scss";

//pages
@import "pages/userDetail.scss";
@import "pages/home.scss";