.video-container {
    width: 500px;
    position: relative;
    &:hover {
        .videoPlayer__controls{
            opacity: 1;
        }
    }
}
video{
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.videoPlayer__controls {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    width: 100%;
    z-index: 9;
    bottom: 5px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s linear;
    .videoPlayer__column:first-child {
        display: flex;
        align-items: center;
        #jsVolumeBtn {
          margin-right: 10px;
        }
        &:hover{
            .videoPlayer__volume{
                opacity: 1;
            }
        }
    }
    .videoPlayer__volume {
        position: absolute;
        top: -60px;
        z-index: 10;
        padding: 0;
        width: 80px;
        transform: rotate(-90deg);
        left: -25px;
        opacity: 0;
        input {
            background-color: rgba(0, 0, 0, 0.7);
            &::-webkit-slider-runnable-track {
              background-color: "grey";
              height: 5px;
            }
            &::-webkit-slider-thumb {
              all: unset;
              background-color: "red";
              height: 15px;
              width: 15px;
              border-radius: 50px;
              position: relative;
              top: -5px;
            }
          }
    }
    .videoPlayer__column:nth-child(2) {
        padding-right: 140px;
      }
      
}
