extends layouts/layout
include mixins/videoBlock

block content
    .search-videos
        each video in videos 
            +videoBlock({
                id: video.id,
                title: video.title,
                views:video.views,
                fileUrl: video.fileUrl
            })