extends layouts/layout

block content
    .uploadPage
        .form-container
            .record-container#jsRecordContainer
                video#jsVideoPreview
                button#jsRecordBtn Start Recording
            form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data", name="videoFile")
                .fileUpload
                    label(for="file") Video File
                    input(type="file", id="file", name="videoFile", required=true, accept="video/*")
                input(type="text", name="title", placeholder="Title", required=true)
                input(type="text", name="description", placeholder="Write a description", required=true)
                input(type="submit", value="Create Video 👊") 