extends layouts/layout

block content
    .editVideoPage
        .form-container 
            form(action=routes.videoEdit(video.id), method="post")
                input(type="text", name="title",value=video.title)
                input(type="text", name="description",value=video.description)
                input(type="submit", value="Update   ✍️")
        .delete__btn
            a(href=routes.videoDelete(video.id)) Delete ❌
