.videoDetail{
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    width: 500px;
    .video-content {
        display: flex;
        flex-direction: column;
        padding: 5px;
        border-bottom: solid gray 1px;
        width: 100%;
        .video__title {
            font-size: 20px;
        }
    }
    .edit-video__btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        a{
            background-color: lightblue;
            padding: 4px;
            border-radius: 5px;
            font-size: 4px;
            font-weight: 300;
            color: black;
            box-shadow: gray 0px 1px 3px;
        }
    }
    form{
        margin-top: 20px;
    }
}
