.user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-nickName, .user-email {
    background-color: #89C3D0;
    font-weight: 300;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 500px;
    align-items: center;
    margin-bottom: 5px;
}
.edit-profile__btn {
    background-color: #FA1D0E;
    border-radius: 8px;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    font-size: 12px;
}
