/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  all: unset;
  cursor: pointer;
  color: inherit;
}

*,
input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
input:focus, input:active {
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 70vh;
}

.form-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  width: 100%;
}

form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input:not([type=file]),
.fileUpload {
  padding: 7px 10px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  font-size: 14px;
  color: black;
  font-weight: 600;
  background-color: white;
  max-width: 320px;
  resize: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
input:not([type=file])::-webkit-input-placeholder, .fileUpload::-webkit-input-placeholder {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}
input:not([type=file]):-moz-placeholder, .fileUpload:-moz-placeholder {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}
input:not([type=file])::-moz-placeholder, .fileUpload::-moz-placeholder {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}
input:not([type=file]):-ms-input-placeholder, .fileUpload:-ms-input-placeholder {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}
input:not([type=file])::-ms-input-placeholder, .fileUpload::-ms-input-placeholder {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}
input:not([type=file])::placeholder,
.fileUpload::placeholder {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}

input[type=submit] {
  cursor: pointer;
}

.video-container {
  width: 500px;
  position: relative;
}
.video-container:hover .videoPlayer__controls {
  opacity: 1;
}
.video-container video {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.videoPlayer__controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  width: 100%;
  z-index: 9;
  bottom: 5px;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
.videoPlayer__controls .videoPlayer__column:first-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.videoPlayer__controls .videoPlayer__column:first-child #jsVolumeBtn {
  margin-right: 10px;
}
.videoPlayer__controls .videoPlayer__column:first-child:hover .videoPlayer__volume {
  opacity: 1;
}
.videoPlayer__controls .videoPlayer__volume {
  position: absolute;
  top: -60px;
  z-index: 10;
  padding: 0;
  width: 80px;
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: -25px;
  opacity: 0;
}
.videoPlayer__controls .videoPlayer__volume input {
  background-color: rgba(0, 0, 0, 0.7);
}
.videoPlayer__controls .videoPlayer__volume input::-webkit-slider-runnable-track {
  background-color: "grey";
  height: 5px;
}
.videoPlayer__controls .videoPlayer__volume input::-webkit-slider-thumb {
  all: unset;
  background-color: "red";
  height: 15px;
  width: 15px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  position: relative;
  top: -5px;
}
.videoPlayer__controls .videoPlayer__column:nth-child(2) {
  padding-right: 140px;
}

.header {
  background-color: red;
  margin-bottom: 50px;
}
.header .header__container {
  padding: 5px 0px;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__container .header__column i {
  color: white;
  font-size: 30px;
}
.header .header__container .header__column:nth-child(2) {
  width: 100%;
  justify-self: center;
}
.header .header__container .header__column:last-child {
  justify-self: end;
}
.header .header__container .header__column ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.header .header__container .header__column ul li:not(:last-child) {
  margin-right: 15px;
}
.header .header__container .header__column form {
  width: 100%;
}
.header .header__container .header__column form input {
  padding: 7px 10px;
  width: 100%;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  font-size: 14px;
  color: black;
  font-weight: 600;
  max-width: none;
}
.header .header__container .header__column form input::-webkit-input-placeholder {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}
.header .header__container .header__column form input:-moz-placeholder {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}
.header .header__container .header__column form input::-moz-placeholder {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}
.header .header__container .header__column form input:-ms-input-placeholder {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}
.header .header__container .header__column form input::-ms-input-placeholder {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}
.header .header__container .header__column form input::placeholder {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}

.user-profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nickName, .user-email {
  background-color: #89C3D0;
  font-weight: 300;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 500px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.edit-profile__btn {
  background-color: #FA1D0E;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  height: 30px;
  width: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-top: 20px;
  font-size: 12px;
}

.home-videos {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-gap: 30px;
}
.home-videos .videoBlock:first-child,
.home-videos .videoBlock:nth-child(2) {
  grid-column: span 3;
}
.home-videos .videoBlock:nth-child(3),
.home-videos .videoBlock:nth-child(4),
.home-videos .videoBlock:nth-child(5) {
  grid-column: span 2;
}

.uploadPage .form-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.uploadPage .form-container .record-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.uploadPage .form-container .record-container button {
  border: none;
  background-color: lightblue;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  width: 70%;
  -webkit-box-shadow: gray 0px 1px 3px;
     -moz-box-shadow: gray 0px 1px 3px;
          box-shadow: gray 0px 1px 3px;
  padding: 5px;
  font-weight: 600;
  color: gray;
}
.uploadPage .form-container form {
  margin-top: 10px;
}

.videoDetail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 4px;
  width: 500px;
}
.videoDetail .video-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  border-bottom: solid gray 1px;
  width: 100%;
}
.videoDetail .video-content .video__title {
  font-size: 20px;
}
.videoDetail .edit-video__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}
.videoDetail .edit-video__btn a {
  background-color: lightblue;
  padding: 4px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  font-size: 4px;
  font-weight: 300;
  color: black;
  -webkit-box-shadow: gray 0px 1px 3px;
     -moz-box-shadow: gray 0px 1px 3px;
          box-shadow: gray 0px 1px 3px;
}
.videoDetail form {
  margin-top: 20px;
}

.loginPage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.joinPage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.editVideoPage .delete__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.editVideoPage .delete__btn a {
  background-color: lightblue;
  padding: 7px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: gray 0px 2px 3px;
     -moz-box-shadow: gray 0px 2px 3px;
          box-shadow: gray 0px 2px 3px;
}
